.header{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-content: center;
	
	img{
		object-fit: cover;
		width: 100%;
		max-width: 350px;
	}

	&:before{
		content: ' ';
		width: 250px;
		height: 250px;
		background: url('../img/sp-logo.png') no-repeat center center;
		background-size: 100%;
		right: 30%;
		position: absolute;
		z-index: -1;
	}
}
