$white : #ffffff;

@import "header";

html{
	background: url('../img/bg.png') no-repeat center center;
	background-size: cover;
}
body{

}

h3, h2, h1{
		font-size: 20px;
	font-family: 'Caveat Brush', cursive;
}
.splatch{
	background: url('../img/sp-top.png') no-repeat top left, url('../img/bg-footer.png') no-repeat right bottom ;
	height: 100vh;
		@media only screen and (max-width: 640px){
			height: auto;
		}
}

.hide{
	display: none;
}
.cupos{
	display: grid;
	grid-template-columns: 300px 1fr 1fr;
	grid-gap: 1rem;
	margin: 0 2rem;
	
	@media only screen and (max-width: 640px){
			grid-template-columns: 1fr
		}

	&-inner{	
		background: linear-gradient(164deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 50%,rgba(222, 222, 222, 0.08) 50%, rgba(222, 222, 222, 0.08) 100%),linear-gradient(73deg, rgba(182, 182, 182, 0.02) 0%, rgba(182, 182, 182, 0.02) 50%,rgba(216, 216, 216, 0.02) 50%, rgba(216, 216, 216, 0.02) 100%),linear-gradient(215deg, rgba(27, 27, 27, 0.09) 0%, rgba(27, 27, 27, 0.09) 50%,rgba(243, 243, 243, 0.09) 50%, rgba(243, 243, 243, 0.09) 100%),linear-gradient(236deg, rgba(242, 242, 242, 0.05) 0%, rgba(242, 242, 242, 0.05) 50%,rgba(16, 16, 16, 0.05) 50%, rgba(16, 16, 16, 0.05) 100%),linear-gradient(256deg, rgba(170, 170, 170, 0.07) 0%, rgba(170, 170, 170, 0.07) 50%,rgba(209, 209, 209, 0.07) 50%, rgba(209, 209, 209, 0.07) 100%),linear-gradient(126deg, rgba(204, 204, 204, 0.1) 0%, rgba(204, 204, 204, 0.1) 50%,rgba(26, 26, 26, 0.1) 50%, rgba(26, 26, 26, 0.1) 100%),linear-gradient(61deg, rgba(250, 250, 250, 0.01) 0%, rgba(250, 250, 250, 0.01) 50%,rgba(13, 13, 13, 0.01) 50%, rgba(13, 13, 13, 0.01) 100%),linear-gradient(56deg, rgba(210, 210, 210, 0.05) 0%, rgba(210, 210, 210, 0.05) 50%,rgba(79, 79, 79, 0.05) 50%, rgba(79, 79, 79, 0.05) 100%),linear-gradient(226deg, rgba(62, 62, 62, 0.08) 0%, rgba(62, 62, 62, 0.08) 50%,rgba(73, 73, 73, 0.08) 50%, rgba(73, 73, 73, 0.08) 100%),linear-gradient(90deg, rgb(236, 2, 158),rgb(161, 2, 79));
		border-radius: 5px;
		padding: 1rem;
		color: $white;
		
		img{
			object-fit: cover;
			width: 100%;
		} 
		&:first-child{
			background: $white;
			max-width: 300px
		}
			
			h2{
				padding-bottom: 1rem;
			}

		}


}
